<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:h="http://java.sun.com/jsf/html"
                xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
                template="../template/centerLayout.xhtml" >
<ui:param name="pageTitle" value="Error Page" />
    <ui:define name="content">
        <h:graphicImage library="images"  name="report.png" style="float: left" width="55px"/>
        <a href="https://trustlogo.com/" title="Secured by Comodo" class="comodo" target="_blank" />
        <H1 style="color:red;text-align:center;margin:0; ">Error Page</H1>
        <p>Failed Request</p>
        #{errorMsg}
        <hr />

        <div class="MenuBar"  >
            <c:forEach items="#{menuBean.menuList}" var="menuItem" >
                <a href="#{menuItem.url}" class="menuButton">#{menuItem.caption}</a>
            </c:forEach>
        </div>
    </ui:define>
</ui:composition>