<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets" template="../template/commonLayout.xhtml" >
    <ui:param name="usebean"  value="#{userPasswordBean}"  />
    <ui:define name="content">
        <div style="display:block;overflow:hidden;">
            <ui:include src="updatePassword.xhtml" />
            <div style="clear:both; display:block; overflow:hidden;">
                <ui:include src="otherUsers.xhtml" />
            </div>
        </div>
    </ui:define>
</ui:composition>