<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:h="http://xmlns.jcp.org/jsf/html" >
    <div class="footer">
        <a href="https://www.yeswayit.nl" style="float:right;margin-right: 5px;"><h:graphicImage
                library="images" name="yeswayit.png" height="18px" /></a>
        <div style="margin-top:3px;color:gray;">
            <h:outputText value="Copyright &amp;copy; YesWayIt (#{menuBean.currentYear}) All Rights Reserved " escape="false" />
        </div>
    </div>
</ui:composition>