<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets">
<h:head>
    <title>#{usebean.viewTitle}</title>
    <h:outputStylesheet library="css" name="style.css"  />
    <link rel="shortcut icon" href="#{resource['images/favicon.ico']}" />
</h:head>
    <h:body>
        <ui:insert name="header" >
            <ui:include src="commonHeader.xhtml" >
                <ui:param name="pageTitle" value="#{usebean.viewTitle}" />
                <ui:param name="userIdent" value="#{usebean.webUserData}" />
                <ui:param name="currentMenu" value="#{usebean.activeMenuDef}" />
            </ui:include>
        </ui:insert>

        <div class="MainCenterPage" >
            <ui:insert name="content" >
                <ui:include src="commonContent.xhtml" />
            </ui:insert>
        </div>
        <ui:insert name="footer" >
            <ui:include src="commonFooter.xhtml"   />
        </ui:insert>

    </h:body>
</html>