<ui:composition  xmlns:p="http://primefaces.org/ui"
                 xmlns:ui="http://java.sun.com/jsf/facelets"
                 xmlns:h="http://xmlns.jcp.org/jsf/html" template="../template/commonLayout.xhtml" >
<ui:define name="content">
    <h3>Spring + JSF Example</h3>
    <h:outputText value = "#{testJsfBean.message}"/>
</ui:define>
</ui:composition>