<ui:composition
        xmlns:t="http://primefaces.org/ui"
        xmlns:ui="http://java.sun.com/jsf/facelets"
        xmlns:h="http://xmlns.jcp.org/jsf/html" xmlns:f="http://xmlns.jcp.org/jsf/core">
        <h:form id="PersonSelector"
                rendered="#{not empty locatieJsfBean.foundLocations }">
            <h:inputHidden name="postcode" value="#{locatieJsfBean.postcode}" />

            <t:dataTable value="#{locatieJsfBean.foundLocations}" var="user"
                         styleClass="people"
                         rowClasses="odd,even"
                         binding="#{locatieJsfBean.payerTable}" style="font-size:11pt;margin:0;padding:0;">

                <t:column headerText="Adres"  style="width:250px;">
                    <h:outputText value="#{user.straatnaam} #{user.nummer}#{user.toevoeging}"/>
                </t:column>

                <t:column headerText="Postcode"  style="width:60px;">
                    <h:outputText value="#{user.postcode}"/>
                </t:column>
                <t:column headerText="Woonplaats">
                    <h:outputText value="#{user.woonplaats}"/>
                </t:column>
            </t:dataTable>
        </h:form>
</ui:composition>